{% extends "base.html" %}
{% load widget_tweaks %}

{% block sidebar %}
<ul>
    <li><a href="/cdl/{{titolo_cdl}}/{{titolo_ins}}/recenti/">Cancella</a></li>
</ul>
{% endblock %}


{% block content %}
<form action="/cdl/{{titolo_cdl}}/{{titolo_ins}}/aggiungi/" method="post" enctype="multipart/form-data">{% csrf_token %}
	<table>
		<tr name="titolo">
			<td width="20%">Titolo</td>
			<td width="55%">{{form.titolo | append_attr:"class:field_titolo"}}</td>
			<td width="49%" align="justify" class="cell">
				<font color="red">
					{% if form.titolo.errors %}
						{{ form.titolo.errors.as_text }}
					{% endif %}
				</font>
			</td>
		</tr>
		<tr name="descrizione">
			<td width="20%">Descrizione</td>
			<td width="55%">{{form.descrizione | append_attr:"class:field_txt"}}</td>
			<td width="49%" align="justify" class="cell">
				<font color="red">
					{% if form.descrizione.errors %}
						{{ form.descrizione.errors.as_text }}
					{% endif %}
				</font>
			</td>
		</tr>
		<tr name="documento">
			<td width="20%">File</td>
			<td width="55%">{{form.documento | append_attr:"class:file_chooser"}}</td>
			<td width="49%" align="justify" class="cell">
				<font color="red">
					{% if form.documento.errors %}
						{{ form.documento.errors.as_text }}
					{% endif %}
				</font>
			</td>
		</tr>
		<tr name="bottone">
			<td width="20%"></td>
			<td width="55%"></td>
			<td width="49%" class="cell">
				<br>
				<input type="submit" name="submit" value="Aggiungi dispensa" class="btn"></td>
		</tr>
	</table>

</form>
{% endblock %}

