{% extends "base.html" %}
{% load static %}

{% block sidebar %}
	<ul>
		{% if request.user.is_superuser %}
			<li><a href="/admin/">Admin</a></li>
		{% endif %}
		
		<li><a href="/home/">Home</a></li>
		<li><a href="/cdl/all/">Corsi di Laurea</a></li>
		<li><a href="/accounts/profilo_utente/">Profilo</a></li>
		<li><a href="/cdl/{{titolo_cdl}}/{{titolo_ins}}/aggiungi">Aggiungi file</a></li>
		<li><a href="/volumica/">Volumica</a></li>
	</ul>
{% endblock %}

{% block content %}
	<table>
		<tr>
			<td width="90%"><h1>{{titolo_ins}}</h1></td>
			<td width="9.999%">
				{% if dispense %}
					<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
						<option value="" class="opt">Seleziona ordine</option>
						<option value="/cdl/{{titolo_cdl}}/{{titolo_ins}}/cron_reverse" class="opt">Recenti</option>
						<option value="/cdl/{{titolo_cdl}}/{{titolo_ins}}/likes" class="opt">Gradimento</option>
						<option value="/cdl/{{titolo_cdl}}/{{titolo_ins}}/" class="opt">Data aggiunta</option>
					</select>
				{% endif%}
			</td>
		</tr>
	</table>
	<br>
	
	{% for d in dispense %}
		<div>
		<table cellpadding = "10" frame = "none" >
			<tr>
				<td width="25%"><b>Nome file:</b></td>
				<td width="25%"><a href="/cdl/{{titolo_cdl}}/{{titolo_ins}}/{{d.documento}}" download="{{d.documento}}">{{d.titolo}}</a></td>
				<td width = "25">
					{% if d.utente.id == request.user.id or request.user.is_superuser %}
						<form action="/cdl/{{titolo_cdl}}/{{titolo_ins}}/cancella/{{d.id}}">
							<button type="submit">Cancella</button>
						</form>
					{% endif %}
				</td>
			</tr>
			
			<tr>
				<td width="40%"><b>Descrizione: </b></td>
				<td width="60%" align = "justify">{{d.descrizione}}</td>
			</tr>
				<td width="40%"><b>Data pubblicazione:</b></td>
				<td width="60%">{{d.data_pub}}</td>
			<tr>
				<td width="40%"><b>Autore:</b></td>
				<td width="60%">{{d.utente.email}}</td>
			</tr>
		
			<tr>
				<td>
					<form action="/cdl/{{titolo_cdl}}/{{titolo_ins}}/like/{{d.id}}">
						<b>+ {{d.mi_piace}} </b>
						<button type="submit" style="background-color:transparent; border-color:transparent;">
						<img src="{% static 'assets/images/like.png' %}" width=56% height=50% align="absmiddle">
						</button>
					</form>
				</td>
				<td>
					<form action="/cdl/{{titolo_cdl}}/{{titolo_ins}}/unlike/{{d.id}}">
						<b>− {{d.non_mi_piace}} </b>
						<button type="submit" style="background-color:transparent; border-color:transparent;">
						<img src="{% static 'assets/images/unlike.png' %}" width=50% height=45% align="absmiddle">
						</button>
					</form>
				</td>
			</tr>
			<tr><td><a href="/cdl/{{titolo_cdl}}/{{titolo_ins}}/commento/{{d.id}}">Aggiunti commento</a></td></tr>
			<tr>
				<td width="90%"><a href="/accounts/profilo_utente/notifiche_locali/{{d.id}}/att">Commenta o clicca qui per attivare notifiche dispensa</a></td></tr></td>
			</tr>
		</table>
		</div>
		

	<div class="nascosto1">
	<a href="#" onclick="if (this.parentNode.nextSibling.childNodes[0].style.display != '') { this.parentNode.nextSibling.childNodes[0].style.display = ''; } else { this.parentNode.nextSibling.childNodes[0].style.display = 'none';}" >  Mostra/Nascondi commenti &#9660;&#9650;</a>
	</div><div><div class="nascosto1" style="display: none;">

	{% for c in commenti %}
		<table>
				{% if c.dispensa == d %}
					<tr>
						<td align = "justify">{{c.commento}} </td>
					</tr>
					<tr>
						<td>Autore: {{c.utente.email}}</td>
					</tr>
					<tr>
						<td>{{c.data_pub}}</td>
					</tr>		
					
					{% if c.utente.id == request.user.id or request.user.is_superuser %}
						<tr>
						<td>
						<form action="/cdl/{{titolo_cdl}}/{{titolo_ins}}/rimuovi/{{c.id}}"><button type="submit">Rimuovi</button></form>
						</td>
						</tr>
					{%endif%}
					
				{% endif %}
					</tr>
					<tr><td></td></tr>
		</table>
	{% endfor %}
	</div></div>
	
	{% endfor %}

<br><br>
{% endblock %}
