{% extends "base.html" %}

{% block content %}

  <p>Ehi, <b>{{request.user.username}}</b> hai già attivato il tuo account!</p>

{% endblock %}

{% block sidebar-right %}
	<ul>
		{% if request.user.is_authenticated %}
			<li>Ciao <strong>{{request.user.username | capfirst}}</strong>!</li>
			<li><a href="/accounts/logout/">Esci</a></li>
		{% else %}
			<li><a href="/accounts/login/">Accedi</a></li>
			<li><a href="/accounts/resetta_password/">Recupera dati</a></li>
		{% endif %}
	</ul>
{% endblock %}
