{% extends "base.html" %}

{% block content %}
	<h2>Accesso negato</h2>
	<div align="justify">
		<p>Ciao <b>{{user_profile.user.username | capfirst}}</b>, siamo spiacenti di informarti che non puoi accedere al sito,
		in quanto bannato per le seguenti motivazioni:
			<li>
				{% for ban in Bannato %}
					{{ban.motivazione}}
				{% endfor %}
			</li>
		</p>
		Contatta gli amministratori di sistema all'indirizzo <strong>obelix.fim@gmail.com</strong> per risolvere il problema.
	</div>
	 
{% endblock %}
