
{% extends "base.html" %}

{% block content %}      


<table>
	{% for ban in Bannati %}
	<tr>	
		<td width = "30%">{{ban.user_profile.user.email}}</td>
		<td width = "30%">
			<form action="/accounts/profilo_utente/superuser/sban/{{ban.user_profile.id}}">
			<input type="submit" name="submit" class="btn" value="Annulla Ban">
			</form>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}

{% block sidebar-right %}
	<ul>
		{% if request.user.is_authenticated %}
			<li>Ciao <strong>{{request.user.username | capfirst}}</strong>!</li>
			<li><a href="/accounts/logout/">Esci</a></li>
			<li><a href="/accounts/profilo_utente/cambio_username/">Cambio Username</a></li>
		{% endif %}
	</ul>
{% endblock %}

