{% extends "base.html" %}

{% block content %}      
<table>
	<tr>
		<td width="25%"><b>NOME</b></td>
		<td width="25%"><b>COGNOME</b></td>
		<td width="35%"><b>EMAIL</b></td>	
		<td width="14.999%"><b>AZIONE</b></td>
	</tr>
	<tr class="tbl_row">
		{% for ban in Bannati %}
			<td width="25%">{{ban.user_profile.user.first_name  | capfirst}}</td>
			<td width="25%">{{ban.user_profile.user.last_name  | capfirst}}</td>
			<td width="35%"><small>{{ban.user_profile.user.email}}</small></td>
			<td width="14.999%">
				<form action="/accounts/profilo_utente/superuser/sban/{{ban.user_profile.id}}">
					<div align="center">
					<input type="submit" name="submit" class="btn" value="Annulla Ban">
					</div>
				</form>
			</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
