{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/default.css' %}"
</head>

<body >
	<div id="container" >
		<div id="titolo">
			<div align=center>
				{% block titolo %}
					Obelix 2.0
				{% endblock %}
			</div>
		</div>
		
		
		<div id="sidebar">
			<div id="navbar">
				{% block sidebar %}
					<ul id="navbar">
						<li><a href="/home/">Home</a></li>
						<li><a href="/cdl/all/">Corsi di Laurea</a></li>
						<li><a href="/accounts/profilo_utente/">Profilo</a></li>
						<li><a href="/volumica/">Volumica</a></li>
						{% if request.user.is_superuser %}
							<li style="background-color: rgba(100,180,34,0.5);"><a>SuperUser</a>
								<ul>
									<li><a href="/admin/">Admin</a></li>
									<li><a href="/accounts/profilo_utente/superuser/dispense/pub/">Dispense Globali</a></li>
									<li><a href="/accounts/profilo_utente/superuser/database/nome/">Database</a></li>
									<li><a href="/accounts/profilo_utente/superuser/iscritti/nome/">Iscritti</a></li>
									<li><a href="/accounts/profilo_utente/superuser/segnalazioni/">Segnalazioni</a></li>
									<li><a href="/accounts/profilo_utente/superuser/bannati/nome/">Studenti Bannati</a></li>
								</ul>
							</li>
						{% endif %}
					</ul>
				{% endblock %}
			</div>
		</div>
			
		<div id="content">
		{% block content %}{% endblock %}
		
		</div>
			
		<div id="sidebar-right">
			<div id="navbar">
				{% block sidebar-right %}
					<ul>
					{% if request.user.is_authenticated %}
						<li>Ciao <strong>{{request.user.username | capfirst}}</strong>!</li>
						<li><a href="/accounts/logout/">Esci</a></li>
					{% else %}
						<li><a href="/accounts/register/">Registrati</a></li>
						<li><a href="/accounts/login/">Accedi</a></li>
						<li><a href="/accounts/resetta_password/">Recupera dati</a></li>
					{% endif %}
					</ul>
				{% endblock %}
				
			</div>
		</div>
		
		<div id="footer" align="center">
			<table style="width: 100%;">
				<tr>
					<td style="width: 33.333%;">
					</td>
					<td style="width: 33.333%;">
						{% block footer %}
							<div class="evidenzio">
							Sito realizzato da Diana Sighinolfi e Massimiliano Tortoli.
							</div>
						{% endblock %}
					</td>
					
					<td style="width: 33.333%; padding-right: 10px;" align="right">
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/">
							<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/2.0/88x31.png" height="70%"/>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
