{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/default.css' %}"
</head>

<body style="height: 100%;">
	<div id="page">
		<div id="titolo">
			<div align=center>
				{% block titolo %}
					Obelix 2.0
				{% endblock %}
			</div>
		</div>
		
		<div id="sidebar">
		{% block sidebar %}
				<li><a href="/admin/">Admin</a></li>
				<li><a href="/home/">Home</a></li>
				<li><a href="/cdl/all/">Corsi di Laurea</a></li>
				<li><a href="/accounts/profilo_utente/">Profilo</a></li>
				<li><a href="/volumica/">Volumica</a></li>
		{% endblock %}
		</div>
			
		<div id="content">
		{% block content %}{% endblock %}
		</div>
			
		
		<div id="sidebar-right">
		{% block sidebar-right %}
		{% endblock %}
		</div>
	
	</div>
</body>
</html>
