
{% extends "base.html" %}
{% block content %}      
      
<form action="/accounts/cambio_username/" method="post">{% csrf_token %}
	
	<br>
	<label>Nuovo username</label>
	<table width = "60%" cellpadding = "10" frame = "none" >
		
		<tr>
		<div class="fieldWrapper">
			<td width="30%"> {{ form.new_username }}</td>
			<td width="70%"> {% for error in form.non_field_errors %}
				{{error}}
			{% endfor %}
			</td>	
		</div>    
		</tr>
	
	</table>
	
	<br>
	<input type="submit" name="submit" value="Ti avevo voluto bene">
</form>

{% endblock %}     
