
{% extends "base.html" %}
{% block content %}      
      
      
<form action="/accounts/profilo_utente/cambio_username/" method="post">{% csrf_token %}
	
	{% for field in form %} 
		<tr>
			<div class="fieldWrapper">
				<td width="33.333%">{{ field.label_tag }}</td>
				<td width="33.333%">{{ field }} </td>
				<td width="33.333%" >
				<font color="red">
				{% if field.errors %}
					{{ field.errors.as_text }}
				{% endif %}
				</font></td>
			</div>
		</tr>
	{% endfor %}
		<tr>
			<td width="33.333%"></td>
			<td width="33.333%"></td>
			<td width="33.333%">
				<div align="center">
					<br>
					<input  type="submit" name="submit" class="btn" value="Cambia username">
				</div>
			</td>
		</tr>
	</table>
</form>

{% endblock %}     


