{% extends "base.html" %}

{% block content %}      
<table>
		<tr>
			<td width="90%"><h1>Studenti database LDAP</h1></td>
			<td width="9.999%">
					<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
						<option value="" class="opt" selected>Seleziona ordine</option>
						<option value="/accounts/profilo_utente/superuser/database/nome/" class="opt">Nome</option>
						<option value="/accounts/profilo_utente/superuser/database/cognome/" class="opt">Cognome</option>
						<option value="/accounts/profilo_utente/superuser/database/email/"  class="opt">Email</option>
					</select>
			</td>
		</tr>
</table>
<table>
	<tr>
		<td>
			<form action="/accounts/profilo_utente/superuser/database/inserisci/">
				<button type="submit" class="btn">Aggiungi studente</button>
			</form>
		</td>
	</tr>
</table>    
<br> 
<table>
	<tr>
		<td width="33.333%"><b>NOME</b></td>
		<td width="33.333%"><b>COGNOME</b></td>
		<td width="33.333%"><b>EMAIL</b></td>
		{% for stud in Studente %}
		<tr class="tbl_row">	
			<td>{{stud.nome | lower | capfirst}}</td>
			<td>{{stud.cognome | lower | capfirst}}</td>
			<td>{{stud.email}}</td>
		</tr>
		{% endfor %}
</table>
{% endblock %}
