 
 
{% extends "base.html" %}
{% block content %}      
      
<form action="/accounts/profilo_utente/superuser/database/inserisci/">
	<button type="submit">Aggiungi studente</button>
</form>
      
<table>
		<tr>
			<td width="90%"><h1>{{titolo_ins}}</h1></td>
			<td width="9.999%">
					<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
						<option value="" class="opt" selected>Seleziona ordine</option>
						<option value="/accounts/profilo_utente/superuser/database/nome/" class="opt">Nome</option>
						<option value="/accounts/profilo_utente/superuser/database/cognome/" class="opt">Cognome</option>
						<option value="/accounts/profilo_utente/superuser/database/email/"  class="opt">Email</option>
					</select>
			</td>
		</tr>
</table>
<br>
      
      
<table>
	<tr>
		<td width="20%">Nome</td>
		<td width = "20%">Cognome</td>
		<td width = "20%">Email</td>
		{% for stud in Studente %}
		<tr>	
			<td>{{stud.nome}}</td>
			<td>{{stud.cognome}}</td>
			<td>{{stud.email}}</td>
		</tr>
		{% endfor %}
</table>




{% endblock %}

{% block sidebar-right %}
	<ul>
		{% if request.user.is_authenticated %}
			<li>Ciao <strong>{{request.user.username | capfirst}}</strong>!</li>
			<li><a href="/accounts/logout/">Esci</a></li>
			<li><a href="/accounts/profilo_utente/cambio_username/">Cambio Username</a></li>
		{% endif %}
	</ul>
{% endblock %}


