 
 
{% extends "base.html" %}
{% block content %}      
      
<form action="/accounts/profilo_utente/superuser/database/inserisci/">
	<button type="submit">Aggiungi studente</button>
</form>
      
<table>
	<tr>
		<td width="20%">Nome</td>
		<td width = "20%">Cognome</td>
		<td width = "20%">Email</td>
		{% for stud in Studente %}
		<tr>	
			<td>{{stud.nome}}</td>
			<td>{{stud.cognome}}</td>
			<td>{{stud.email}}</td>
		</tr>
		{% endfor %}
</table>




{% endblock %}

{% block sidebar-right %}
	<ul>
		{% if request.user.is_authenticated %}
			<li>Ciao <strong>{{request.user.username | capfirst}}</strong>!</li>
			<li><a href="/accounts/logout/">Esci</a></li>
			<li><a href="/accounts/profilo_utente/cambio_username/">Cambio Username</a></li>
		{% endif %}
	</ul>
{% endblock %}


