{% extends "base.html" %}

{% block content %}
	<h1>Benvenuto in Obelix 2.0</h1>
	<div align="justify">
		<p>Obelix è un servizio dedicato agli studenti del Dipartimento di 
		Scienze Fisiche Informatiche e Matematiche Unimore.</p>
		<p>Nasce nel 2010 come server degli studenti della facoltà di 
		Fisica; in seguito, con la nascita del nuovo Dipartimento FIM, si
		è deciso di ampliare il servizio a tutti e soli i suoi studenti.</p>
		<p>La principale funzionalità del server è permettere la fruizione
		di materiale didattico.</p>
		<p>È inoltre possibile, ed altamente consigliato, arricchire tale
		materiale aggiungendo dispense nella pagina del relativo 
		insegnamento.</p>
	</div>
	
{% endblock %}

