

 
{% extends "base.html" %}
{% block content %}      
       
 <table>
	<tr>
		<td width="20%">Nome</td>
		<td width = "20%">Cognome</td>
		<td width = "20%">Email</td>
		<td width = "20%">Ban</td>
		<td width = "20%"></td>
		
		{% for isc in Iscritti %}
		<tr>	
			<td>{{isc.user.first_name}}</td>
			<td>{{isc.user.last_name}}</td>
			<td>{{isc.user.email}}</td>
			<td>{{isc.ban}}</td>
			<td width="15%">
				<form action="/accounts/profilo_utente/superuser/ban/{{isc.id}}/">
							  
					<button type="submit">Banna</button>
				</form>
			</td>
		</tr>
		{% endfor %}
</table>



{% endblock %}

{% block sidebar-right %}
	<ul>
		{% if request.user.is_authenticated %}
			<li>Ciao <strong>{{request.user.username | capfirst}}</strong>!</li>
			<li><a href="/accounts/logout/">Esci</a></li>
			<li><a href="/accounts/profilo_utente/cambio_username/">Cambio Username</a></li>
		{% endif %}
	</ul>
{% endblock %}


