{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">I dati inseriti non sono validi</p>
  {% endif %}

  <form action="/accounts/auth/" method="post">{% csrf_token %}
 
    
    <!--<p>Clicca <a href="/accounts/resetta_password/">qui</a> per recuperare i tuoi dati</p> -->
    <input type="submit" value="Login" />
    <br>
    <br>
    <b><label for="username">Username:</label>
    <input type="text" name="username" value="" id="username">
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    <br>
    </b>
    
	</form>
	
   <form action="/accounts/resetta_password/" method="get">{% csrf_token %}
   <br>
   <input type="submit" value="Recupera Password" />
   </form>
  
{% endblock %}

