
{% extends "base.html" %}
{% block content %}
	
	{% if form.errors %}
    <p class="error">I dati inseriti non sono validi</p>
	{% endif %}

	<form action="/accounts/auth/" method="post">{% csrf_token %}
	<br><br>
		<b><label for="username">Username:</label>
			<input type="text" name="username" value="" id="username">
			<br>
			<br>
			<label for="password">Password:</label>
			<input type="password" name="password" value="" id="password">
			<br>
			<input type="submit" value="Login" />
		</b>
	</form>

   
  
{% endblock %}


{% block sidebar-right %}
	<ul>
		{% if request.user.is_authenticated %}
			<li>Ciao <strong>{{request.user.username | capfirst}}</strong>!</li>
			<li><a href="/accounts/logout/">Esci</a></li>
		{% else %}
			<li><a href="/accounts/register/">Registrati</a></li>
			<li><a href="/accounts/resetta_password/">Recupera dati</a></li>
		{% endif %}
	</ul>
{% endblock %}

