{% extends "base.html" %}

{% block content %}
<h2>Profilo utente</h2>    
<table  cellpadding = "10" frame = "none" >
	<div>
		{% if request.user.is_superuser != True %}
		<tr>
			<td width="33.333%"><b><label>Nome: </label></b></td>
			<td width="33.333%">{{ request.user.first_name | capfirst}} </td>
			<td width="33.333%"></td>
		</tr>
		<tr>
			<td width="33.333%"><b><label>Cognome: </label></b></td>
			<td width="33.333%">{{ request.user.last_name | capfirst}} </td>
			<td width="33.333%"></td>
		</tr>
		{% endif %}
		<tr>
			<td width="33.333%"><b><label>Username: </label></b></td>
			<td width="33.333%">{{ request.user.username }} </td>
			<td width="33.333%"></td>
		</tr>
			<td width="33.333%"><b><label>Email: </label></b></td>
			<td width="33.333%">{{ request.user.email }} </td>
			<td width="33.333%"></td>
		<tr>
			<td width="33.333%"><b><label>Notifiche: </label></b></td>
			<td width="33.333%">
				{% if user_profile.not_globali == True %}
					Attivate
				{% else%}
					Disattivate
				{% endif%}
			</td>
			<td width="33.333%">
				<div align="center">
					<form action="/accounts/profilo_utente/notifiche_globali">
						<button type="submit" value="Submit" class="btn">
							{% if user_profile.not_globali == True %}
								Disattiva
							{% else%}
								Attiva
							{% endif%}
						</button>
					</form>
				</div>
			</td>
		</tr>
	</div>
</table>

<br><br>
{% if pubblicazioni %}
<table>
	<tr>
		<td width="100%">
			<h3>Le tue pubblicazioni:</h3>
		</td>
	</tr>
</table>
<table>
	<tr class="tbl_row">
		<td width="33.333%" class="cell"><b>DISPENSA</b></td>
		<td width="33.333%" class="cell"><b>CORSO</b></td>
		<td width="33.333%" class="cell"><b>DATA</b></td>
	</tr>
	{% for p in pubblicazioni %}
	<tr class="tbl_row">
		<td width="33.333%" class="cell">
			<a href="/cdl/{{p.insegnamento.corso}}/{{p.insegnamento}}/recenti" style="text-decoration: none;">
				<div class="rif"><b>{{p.titolo}}</b></div>
			</a>
		</td>
		<td width="33.333%" class="cell">{{p.insegnamento}}</td>	
		<td width="33.333%" class="cell">{{p.data_pub | date:"SHORT_DATE_FORMAT"}}</td>	
	</tr>
	{% endfor %}
	</table>
{% endif %}
<br>
{% if notifiche %}
<h3>Notifiche:</h3>
{% if user_profile.not_globali == True %}
	<table>
	{% for disp in notifiche %}
		<tr>
			<td>
				<a href="/cdl/{{disp.insegnamento.corso}}/{{disp.insegnamento}}/recenti" style="text-decoration: none;">
				<div class="notifiche"> 
				{% if ultimo_comm %}
					{% if disp.num_com == 0 %}
						Stai seguendo la dispensa <b>{{disp.titolo}}</b>.
					{% else %}
						{% for ultimo in ultimo_comm %}
							{% if disp.id == ultimo.dispensa.id %}
								<b>{{ultimo.utente.username | capfirst }}</b> ha pubblicato un commento in <b>{{disp.titolo}}</b>, {{ultimo.data_pub | timesince }} fa.
							{% endif %}
						{% endfor %}
					{% endif%}
				{% endif %}
			</div>
			</a>
			</td>
			<td>
				<form action="/accounts/profilo_utente/notifiche_locali/{{disp.id}}/dis"><button type="submit" class="btn">Disiscrivimi</button></form>
			</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}
{% endif %}
 
{% endblock %}

{% block sidebar-right %}
	<ul>
		{% if request.user.is_authenticated %}
			<li>Ciao <strong>{{request.user.username | capfirst}}</strong>!</li>
			<li><a href="/accounts/logout/">Esci</a></li>
			<li><a href="/accounts/profilo_utente/cambio_username/">Cambio Username</a></li>
		{% endif %}
	</ul>
{% endblock %}
