
{% extends "base.html" %}

{% block content %}      
<table  cellpadding = "10" frame = "none" >
	<div>
		{% if request.user.is_superuser != True %}
		<tr>
			<td width="33.333%"><b><label>Nome: </label></b></td>
			<td width="33.333%">{{ request.user.first_name | capfirst}} </td>
			<td width="33.333%"></td>
		</tr>
		<tr>
			<td width="33.333%"><b><label>Cognome: </label></b></td>
			<td width="33.333%">{{ request.user.last_name | capfirst}} </td>
			<td width="33.333%"></td>
		</tr>
		{% endif %}
		<tr>
			<td width="33.333%"><b><label>Username: </label></b></td>
			<td width="33.333%">{{ request.user.username }} </td>
			<td width="33.333%"></td>
		</tr>
			<td width="33.333%"><b><label>Email: </label></b></td>
			<td width="33.333%">{{ request.user.email }} </td>
			<td width="33.333%"></td>
		<tr>
			<td width="33.333%"><b><label>Notifiche: </label></b></td>
			<td width="33.333%">
				{% if user_profile.not_globali == True %}
					Attivate
				{% else%}
					Disattivate
				{% endif%}
			</td>
			<td width="33.333%">
				<div align="center">
					<form action="/accounts/profilo_utente/notifiche_globali">
						<button type="submit" value="Submit" class="btn">
							{% if user_profile.not_globali == True %}
								Disattiva
							{% else%}
								Attiva
							{% endif%}
						</button>
					</form>
				</div>
			</td>
		</tr>
	</div>
</table>

<br><br>
<table cellpadding = "10" frame = "none" >
	<tr>
		<td width="100%">
			<b>Questo è l'elenco delle tue pubblicazioni:</b>
		</td>
	</tr>
	{% for p in pubblicazioni %}
	<tr>
		<td width="100%">
			<a href="/cdl/{{p.insegnamento.corso}}/{{p.insegnamento}}/">{{p.titolo}}</a></a>
		</td>				
	</tr>
	{% endfor %}
</table>


<b>Notifiche in:</b><br>
{% if user_profile.not_globali == True %}
	<table>
	{% for disp in notifiche %}
	<tr>
		<td><a href="/cdl/{{disp.insegnamento.corso}}/{{disp.insegnamento}}/">{{disp.titolo}}</a></td>
		<td>{{disp.insegnamento}}</td> 
		<td>Ultimo commento di:</td>
		<td>
			{% for ultimo in ultimo_comm %}
				{% if disp.id == ultimo.dispensa.id %}
					{{ultimo.utente.username}}
				{% endif %}
			{% endfor %}
 		</td>
		<td><form action="/accounts/profilo_utente/notifiche_locali/{{disp.id}}/dis"><button type="submit">Disiscrivimi</button></form></td>
	</tr>
	<tr><td><br></td></tr>
	{% endfor %}
	</table>
{% endif %}
 
{% endblock %}

{% block sidebar-right %}
	<ul>
		{% if request.user.is_authenticated %}
			<li>Ciao <strong>{{request.user.username | capfirst}}</strong>!</li>
			<li><a href="/accounts/logout/">Esci</a></li>
			<li><a href="/accounts/profilo_utente/cambio_username/">Cambio Username</a></li>
			{%if request.user.is_superuser %}
			<br><br>
			<li><b>SuperUser</b></li>
			<li><a href="/accounts/profilo_utente/superuser/dispense/">Dispense Globali</a></li>
			<li><a href="/accounts/profilo_utente/superuser/segnalazioni/">Segnalazioni</a></li>
			<li><a href="/accounts/profilo_utente/superuser/ban/">Banna Studenti</a></li>
			<li><a href="/accounts/profilo_utente/superuser/bannati/">Studenti Bannati</a></li>
			{% endif %}
		{% endif %}
	</ul>
{% endblock %}
