{% extends "base.html" %}
{% block content %}      
 
<form class="form-register" action="/accounts/register/" method="post">{% csrf_token %}

	<br>
	<p>Ricordiamo alla gentile utenza che l'iscrizione e' consentita solo agli studenti del dipartimento FIM</p>
	
	<table width = "100%" cellpadding = "10" frame = "none" >
	<caption> <b> Compila i seguenti campi per la registrazione </b></caption>
	
	{% for field in form %} 
		<tr>
			<div class="fieldWrapper">
				<td width="25%"> {{ field.label_tag }}</td>
				<td width="25%">{{ field }} </td>
				<td width="50">
				{% if field.errors %}
					{{ field.errors.as_text }}
				{% endif %}
				</td>
			</div>
		</tr>
	{% endfor %}

	</table>
	
	<input type="submit" name="submit" class="btn btn-primary" value="Registrami">
</form>
{% endblock %}

{% block sidebar-right %}
	<a href="/accounts/login/">Sign in</a>
{% endblock %}
