{% extends "base.html" %}
{% block content %}      
 
<form class="form-register" action="/accounts/register/" method="post">{% csrf_token %}

	<br>
	<p>Ricordiamo alla gentile utenza che l'iscrizione è consentita solo agli studenti del dipartimento FIM.</p>
	
	<table width = "100%" cellpadding = "10" frame = "none" >
	<caption><p> <b> Compila i seguenti campi per la registrazione </b> </p></caption>	
	{% for field in form %} 
		<tr>
			<td width="33.333%">{{ field.label_tag }}
			</td>
			<td width="33.333%">{{ field }} </td>
			<td width="33.333%">
				<font color="red">
				{% if field.errors %}
					{{ field.errors.as_text }}
				{% endif %}
				</font>
			</td>
		</tr>
	{% endfor %}
		<tr>
			<td width="33.333%"></td>
			<td width="33.333%"></td>
			<td width="33.333%">
				<div align="center">
					<br>
					<input type="submit" name="submit" class="btn" value="Registrami">
				</div>
			</td>
			
		</tr>
	</table>

	
</form>
{% endblock %}

