
{% extends "base.html" %}
{% block content %}      
      
<form class="form-register" action="/accounts/register/" method="post">{% csrf_token %}
	<h2>Compila i seguenti campi per la registrazione</h2>
	<div class="fieldWrapper">
		<label>Nome</label><br>
		{{ form.first_name }}
	</div>    
	<br>
	<div class="fieldWrapper">
		<label>Cognome</label><br>
		{{ form.last_name }}
	</div>    
	<br>
	<div class="fieldWrapper">    
		{{ form.email.errors }}            
		<label>Email</label><br>
		{{ form.email }}
	</div>    
	<br>
	<div class="fieldWrapper">
		{{form.errors.values.0}}                
		<label>Username</label><br>
		{{ form.username }}
	</div>
	<br>
	<div class="fieldWrapper">        
		{{form.errors.values.1}}            
		<label>Password</label><br>                    
		{{ form.password1 }}
	</div>
	<br>
	<div class="fieldWrapper">           
		<label>Conferma Password </label><br>
		{{ form.password2 }}
	</div>
	<br></br>
	<input type="submit" name="submit" class="btn btn-primary" value="Registrami">
</form>

{% endblock %}
{% block sidebar-right %}
	<a href="/accounts/login/">Sign in</a>
{% endblock %}

