{% extends "base.html" %}

{% block content %}

  <h2>Dannazione, qualcosa è andato storto!</h2>
	<div align="justify">
		<p>Siamo spiacenti, non risulti presente nel nostro database. Si 
		ricorda alla gentile utenza che l'iscrizione è vincolata al 
		database di LDAP unimore, pertanto utilizzare il nome con i quale 
		si è registrati in esse3. Eventuali accenti sono accettati tramite 
		l'uso dell'apostrofo.</p>
		<p><b>Esempio:</b><br>
			<li>Niccolò Rossi &#8594 Niccolo' Rossi</li>
			<li>Aldo Giovanni Giacomo Bianchi deve utilizzare tutti i suoi nomi.</li>
			
		</p>
	  <p>Clicca <a href="/accounts/register">qui</a> per una nuova registrazione.</p>
	  <p>In caso di problemi scrivici a <a href="mailto: obelix.fim@gmail.com?subject=Registrazione%20fallita">obelix.fim@gmail.com</a>.</p>
	</div>
{% endblock %}
