{% extends "base.html" %}

{% block content %}      
{% if Segnalazioni %}
	{% for segn in Segnalazioni %}
	<div class="tbl">
		<table name="segnalazione">
			<tr class="tab_titolo">
				<td class="cell">
					<a href="/cdl/{{segn.dispensa.insegnamento.corso}}/{{segn.dispensa.insegnamento}}/recenti/" style="text-decoration: none;">
						<div class="lbl">{{segn.dispensa.titolo | capfirst}}</div></a>
				</td>
			</tr>
			<tr class="tab_descrizione">
				<td class="cell">
					{{segn.motivazione}}
				</td>
			</tr>
			<tr class="tab_autore">
				<td class="cell"  style="height: 10px;">
					Segnalata da  <font color="#4099ff">{{segn.accusatore.user.email}}</font>.
				</td>
			</tr>
		</table>

		<table name="azioni">
			<tr class="row" style="border-bottom-width: 10px ;">
				<td width="33.333%" align="center" >
					<form action="/accounts/profilo_utente/superuser/segnalazioni/ban/{{segn.id}}/{{segn.accusatore.id}}">
						<button type="submit" class="btn">Banna segnalante</button>
					</form>
				</td>
				<td width="33.333%" align="center">
					<form action="/accounts/profilo_utente/superuser/segnalazioni/ban/{{segn.id}}/">
						<button type="submit" class="btn">Banna segnalato</button>
					</form>
				</td>
				<td width="33.333%" align="center">
					<form action="/accounts/profilo_utente/superuser/segnalazioni/annulla/{{segn.id}}/">
						<button type="submit" class="btn">Ignora segnalazione</button>
					</form>
				</td>
			</tr>
		</table>
		</div>
	{% endfor %}
{% else %}
	<p>Non sono presenti segnalazioni.</p>
{% endif %}

{% endblock %}
