 
{% extends "base.html" %}

{% block content %}      

{% if Segnalazioni %}
<table>
	<tr>
		<td width="20%">Nome</td>
		<td width = "40%">Motivazione</td>
		{% for segn in Segnalazioni %}
		<tr>	
			<td><a href="/cdl/{{segn.dispensa.insegnamento.corso}}/{{segn.dispensa.insegnamento}}">{{segn.dispensa.titolo}}</a></td>
			<td>{{segn.motivazione}}</td>
			
			<td width="15%"><form action="/accounts/profilo_utente/superuser/segnalazioni/ban/{{segn.id}}/">
							<button type="submit">Banna Reo</button>
						</form>
			</td>
			<td width="15%"><form action="/accounts/profilo_utente/superuser/segnalazioni/ban/{{segn.id}}/{{segn.accusatore.id}}/">
							<button type="submit">Banna Segnalatore</button>
						</form>
			</td>
			<td width="15%"><form action="/accounts/profilo_utente/superuser/segnalazioni/annulla/{{segn.id}}/">
							<button type="submit">Annulla</button>
				</form>
			</td>
		</tr>
		<tr>
			<td>Provvedimento richiesto</td>
		</tr>
		<tr>
			<td width="30%">Da: {{segn.accusatore.user.email}}</td>
			<td width="30%">Verso: {{segn.dispensa.utente.email}}</td>
		</tr>
		<tr><td></td></tr>		
		{% endfor %}
</table>
{% endif %}

{% endblock %}

{% block sidebar-right %}
	<ul>
		{% if request.user.is_authenticated %}
			<li>Ciao <strong>{{request.user.username | capfirst}}</strong>!</li>
			<li><a href="/accounts/logout/">Esci</a></li>
			<li><a href="/accounts/profilo_utente/cambio_username/">Cambio Username</a></li>
		{% endif %}
	</ul>
{% endblock %}

