
<!--	
	-------------------------------------------------------------------- 
	 
	Segnalazioni.
	Segnalare una dispensa o un commento, con una descrizione.
	Se segnalato, l'oggetto in questione non puo' essere cancellato da utenti normali.
	
	Avviso segnalazioni ad obelix.
	Campo rimovibile: su dispensa -> blocca cancellazione anche dei commenti
	
	
	Descrizione: max 500 caratteri.
	onetoone user
	onetone dispensa
	id dispensa/commento
	
	--------------------------------------------------------------------
	
	
	Ban.
	Obelix puo' bannare utenti, su segnalazione.
	Obelix puo' bannare utente, di propria iniziativa.
	Ban:
		-> settare a false user.is_active
	
	Campo bannati: -> Default = False
	Attivazione se e solo ban = false altrimenti messaggio.
	
	Menu:
	Visualizza Pubblicazioni
	Visualizza Notifiche
	
	Visualizza Pubblicazioni Totali
	Visualizza Studenti Bannati
	Visualliza Ban Studenti
	 -------------------------------------------------------------------
-->			
