
{% extends "base.html" %}
{% load static %}

{% block content %}
	<h1>Volumica</h1>
	<div align="justify">
		<p>L'iniziativa che prende il nome di <b>Volumica</b> si occupa della
		raccolta e catalogazione di libri, riviste o dispense di natura 
		scientifica da parte dei rappresentanti degli studenti del dipartimento
		di Scienze Fisiche Informatiche e Matematiche Unimore.</p>
		<p>I libri si trovano suddivisi fra due armadi dislocati negli edifici
		di Fisica e di Matematica; l'armadio di fisica è collocato nella stanza
		dedicata agli studenti al primo piano, quello di matematica si trova
		invece nel laboratorio base situato al piano terra.</p>
		<p>Tutto il materiale è a disposizione degli studenti del dipartimento
		FIM previa <b>prenotazione</b> tramite il servizio messo a disposizione
		dai rappresentanti degli studenti.</p>
		<p>Si invita pertanto la gentile utenza a leggere attentamente il
		<b>regolamento</b> e le eventuali <b>sanzioni</b> nei documenti
		redatti dai rappresentanti degli studenti.</p>
		<p>La lista dei documenti e dei libri già catalogati e presenti 
		nell'armadio di Fisica è reperibile direttamente sulle ante 
		dell'armadio, in alternativa è possibile scaricarla direttamente 
		dalla cartella condivisa di Google Drive.</p>
		<p><b>NB:</b> è possibile accedere al materiale <u>solo se</u> 
		non avete effettuato l'accesso su Google con l'account 
		studenti.unimore.it in quanto il dominio dell'università non 
		permette la condivisione dei file al di fuori dello stesso.</p>
	</div>
	<div align="right">
		<a href="https://drive.google.com/open?id=0B0KZ0-JaYPSdflFBYVppRUMydy15bGx6TDAwOXVfazNFcGVvZzk0eE1ZNloyMzhKanBtUFk&authuser=0">
			Accedi al materiale
		</a>
	</div>
{% endblock %}
