
{% extends "base.html" %}
{% load static %}

{% block content %}
	<h1>Volumica</h1>
	<div align="justify">
		<p>L'iniziativa che prende il nome di <b>Volumica</b> si occupa della
		raccolta e catalogazione di libri, riviste o dispense di natura 
		scientifica da parte dei rappresentanti degli studenti del dipartimento
		di Scienze Fisiche Informatiche e Matematiche Unimore.</p>
		<p>I libri si trovano suddivisi fra due armadi dislocati negli edifici
		di Fisica e di Matematica; l'armadio di fisica è collocato nella stanza
		dedicata agli studenti al primo piano, quello di matematica si trova
		invece nel laboratorio base situato al piano terra.</p>
		<p>Tutto il materiale è a disposizione degli studenti del dipartimento
		FIM previa <b>prenotazione</b> tramite il servizio messo a disposizione
		dai rappresentanti degli studenti.</p>
		<p>Si invita pertanto la gentile utenza a leggere attentamente:<b>
		<li>regolamento</li>
		<li>sanzioni</li>
		</b><br><br>
		redatto dai rappresentanti degli studenti</p>
		<p>La lista dei documenti e dei libri già catalogati e presenti nell'armadio di Fisica
		è reperibile direttamente sulle ante dell'armadio, in alternativa è
		possibile scaricarla direttamente da
		<a href="https://drive.google.com/folderview?id=0B0KZ0-JaYPSdflFBYVppRUMydy15bGx6TDAwOXVfazNFcGVvZzk0eE1ZNloyMzhKanBtUFk&usp=sharing">
		qui</a>.</p>
		
		
	</div>
{% endblock %}

{% block sidebar-right %}
	<a href="/accounts/logout/">Log out</a>
{% endblock %}
